<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Applied Candidate List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        tr{text-align:center}
        .menu-bar{
        background-image: linear-gradient(to right,#5c2f8f 20%,#bb9b33);
        
    }
    </style>
</head>
<body>
    <!--header section-->
     
    
    
    <div class="menu-bar">
        <nav class="navbar navbar-expand-lg p-3">
            <div class="container-fluid">
              <a class="navbar-brand text-light" href="#">Job portal</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link  text-light" href="/jobskrhome/jobskrhome/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-light" href="/ujlist/">Job list</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-light" href="/jobskrjobstatus/">Applied Jobs</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-light" href="/logout/">Logout</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
      </div>
      <hr>
    

    <div class="container">
        <table class="table table-hover" id="example">
            <thead>
                <tr style="background-image: linear-gradient(to right,#5c2f8f 20%,#bb9b33); color:white">
                    <th>S.No</th>
                    <th>FullName</th>
                    <th>Email Id</th>
                    <th>Contact</th>
                    <th>Job Title</th>
                    <th>Company</th>
                    <th>ApplyDate</th>
                    <th>Resume</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
              {% for i in data %}
              <tr style="background-color:ghostwhite">
                  <td>{{ forloop.counter }}</td>
                  <td>{{ i.jsuser.user.first_name }}</td>
                  <td>{{ i.jsuser.user.username }}</td>
                  <td>{{ i.jsuser.mobile }}</td>
                  <td>{{ i.job.title }}</td>
                  <td>{{ i.job.recruiter.company }}</td>
                  <td>{{ i.applydate }}</td>
                  <td><a href="{{ i.resume.url }}" target="_blank">Download Resume</a></td>
                  <td>{{ i.status }}</td>
              </tr>
          {% endfor %}
          
            </tbody>
        </table>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>  
</body>
</html>