<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <style>
        tr{text-align:center}
        .menu-bar{
        background-image: linear-gradient(to right,#5c2f8f 20%,#bb9b33);
        
    }
    </style>
</head>
<body>
  <div class="menu-bar">  
    <nav class="navbar navbar-expand-lg p-3">
        <div class="container-fluid">
          <a class="navbar-brand text-light" href="#">Job Portal</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link  text-light" href="/jobskrhome/jobskrhome/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="/ujlist/">Job List</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="/logout/">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
  </div>
      <hr>

      <div class="container shadow-lg py-2 mb-2">
        <div class="row">
            <div class="col-md-6 mt-3">
                <h2>{{job.title}}</h2>
                <p><i class="bi bi-calendar3"></i> {{job.creationdate}}</p>

                <h4>Companyname</h4>
                <p><i class="bi bi-buildings"></i> {{job.recruiter.company}}</p>

                <h4>Job Description</h4>
                <p><i class="bi bi-card-text"></i> {{job.description}}</p>

                <h4>Salary</h4>
                <p><i class="bi bi-currency-rupee"></i>{{job.salary}}</p>

                <h4>Location</h4>
                <p><i class="bi bi-geo-alt"></i></i> {{job.location}}</p>

                <h4>Workmode</h4>
                <p><i class="bi bi-geo-alt"></i></i> {{job.workmode}}</p>

                <h4>Required Experience</h4>
                <p><i class="bi bi-person-workspace"></i> {{job.experiance}} yrs</p>

                <h4>Required Skills</h4>
                <p><i class="bi bi-card-checklist"></i> {{job.skills}}</p>

                
                <h4>Start date for applying</h4>
                <p><i class="bi bi-calendar3"></i> {{job.startdate}}</p>

                
                <h4>End date for applying</h4>
                <p><i class="bi bi-calendar3"></i> {{job.enddate}}</p>

                
            </div>
            <div class="col-md-6 mt-3 justify-content-md-end">
            <a href="/applyjob/{{job.id}}"  class="btn btn-primary  ml-5" style="width:200px; height:40px">Apply for this job</a>
        </div>
        </div>
      </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>    
</body>
</html>