{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Job Portal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .menu-bar{
        background-image: linear-gradient(to right,#5c2f8f 20%,#bb9b33);
        
    }
    </style>
</head>
<body>
  <!--header-->
  <div class="menu-bar">
  <nav class="navbar navbar-expand-lg p-3">
    <a class="navbar-brand text-light" href="#">Job Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon "></span>
</button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto mr-4">
            <li class="nav-item mr-2">
                <a class="nav-link  text-light" href="http://127.0.0.1:8000/">Home</a>
            </li>
            <li class="nav-item mr-2">
                <a class="nav-link  text-light" href="/signup/">Sign Up</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Login
                </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/jobskrlogin/">Job Seeker</a></li>
                    <li><a class="dropdown-item" href="/emprlogin/">Employer</a></li>
                  </ul>
            </li>
        </ul>
    </div>
</nav>
</div>

<br>

<div class="container mt-5">
    <h1 class="text-success">Latest Jobs</h1>
    <div class="navbar bg-body-tertiary mb-3">
        <div class="container-fluid justify-content-center">
          <form class="d-flex" action="/search" method="get" role="search">
            <input class="form-control me-2 mr-2" type="search" placeholder="Jobtittle,Location..." aria-label="Search" name="search">
            <button class="btn btn-outline-primary" type="submit">Search</button>
          </form>
        </div>
    </div>
    <br>
    {% if job|length < 1 %}
    Your Search <b>{{query}} did not match</b>
    <ul>
        <li>Make Sure Spelled Correct</li>
    </ul>
    {% endif %}

    <div class="row">
        {% for i in job %}
            <div class="col-md-6 ">
                <div class="card mb-3 custom-card">
                    <div class="card-body  d-flex justify-content-between align-items-center">
                        <div>
                        <h5 class="card-title">{{ i.title|title}}</h5>
                        <p class="card-text mb-0">{{ i.skills|title}}</p>
                        <p class="card-text">{{ i.location|title}}</p>
                        </div>
                        <!-- Add other job details here -->
                        <a href="#" class="btn btn-success btn-sm">login and applay</a>     
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>   
</body>
</html>